@import url('../fonts.css');

:root {
  --color-black: #000;
  --color-premium: rgba(0, 0, 0, 1);
  --color-light: rgba(255, 255, 255, 1);
  --background-color-premium: rgba(244, 246, 250, 1);
  --font-inter-light: 'Inter-Light', sans-serif;
  --font-inter-regular: 'Inter-Regular', sans-serif;
  --font-inter-medium: 'Inter-Medium', sans-serif;
  --font-inter-bold: 'Inter-Bold', sans-serif;
  --error-color: #862308;
}