@font-face {
  src: url('../../shared/assets/fonts/Inter_18pt-Light.woff') format('woff'),
    url('../../shared/assets/fonts/Inter_18pt-Light.woff2') format('woff2');
  font-family: 'Inter-Light';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url('../../shared/assets/fonts/Inter_18pt-Regular.woff') format('woff'),
    url('../../shared/assets/fonts/Inter_18pt-Regular.woff2') format('woff2');
  font-family: 'Inter-Regular';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url('../../shared/assets/fonts/Inter_18pt-Medium.woff') format('woff'),
    url('../../shared/assets/fonts/Inter_18pt-Medium.woff2') format('woff2');
  font-family: 'Inter-Medium';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url('../../shared/assets/fonts/Inter_24pt-Bold.woff') format('woff'),
    url('../../shared/assets/fonts/Inter_24pt-Bold.woff2') format('woff2');
  font-family: 'Inter-Bold';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}