.main {
  background: var(--background-color-premium);
  min-height: 100vh;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px 40px;
}

.layout {
  display: grid;
  grid-template-columns: 220px 1fr;
  gap: 73px;
}